<footer class="site-footer">
  <p class="text">
    {% assign CurrentYear = site.time | date: '%Y' %}
    {{ "Copyright © " | append: CurrentYear | append: " — " | append: site.title | append: " — All rights reserved." }}</p>
  <div class="footer-icons">
    <ul>
      <!-- Social icons from Font Awesome, if enabled -->
      {% include social/icons.liquid %}
    </ul>
  </div>
  <div class="views" style="padding-top:15px">
    <span class="views">
      <img src="https://visitor-badge.glitch.me/badge?page_id={{site.url}}{{page.url}}" alt="Views" />
    </span>
  </div>
  <!-- Mastodon verification linkback -->
  <a rel="me" href="https://techhub.social/@JamesDBartlett3">​</a>
</footer>