<footer class="site-footer">
  <p class="text">
    {% assign CurrentYear = site.time | date: '%Y' %}
    {{ "Copyright © " | append: CurrentYear | append: " — " | append: site.title | append: " — All rights reserved." }}</p>
  <div class="footer-icons">
    <ul>
      <!-- Social icons from Font Awesome, if enabled -->
      {% include social/icons.liquid %}
    </ul>
  </div>
  <div class="views" style="padding-top:15px">
    <span class="views">
      <img src=https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{site.url | downcase}}{{page.url | downcase}}&count_bg=%233a7bcf&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=Views&edge_flat=false" alt="Views" />
    </span>
  </div>
</footer>